/* .Nurik{
    background-color: red;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 5px 20px 5px;
    border: 3px dotted black;

}
.Behruz{
    background-color: aqua;
    height: 500px;
    padding: 20px 500px;
    border: 2px solid red;
    border-radius: 30px 5px 30px 5px;
} */
/* div{
    display: flex; */
    /* justify-content: center;  */
    /* align-items:center;
    gap: 5px;
}
.Home{
    background-color: red;
    color: white;
    border-radius: 10px 0;
    font-size: 20px;
    width: 55px;
    
}
.Blog{
    background-color: black;
    color: white;
    border-radius: 10px 0;
    font-size: 16px;
    width: 30px;
    height: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.contact{
    background-color: blue;
    color: white;
    border: 1px dotted aqua;
    font-size: 10px;   
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.mars{
 background-color: black;
text-align: center;
 color: red;
 border: 1px solid blue;
 border-radius: 50px;
}
.it{
    background-color: yellow;
    font-size:20px;
    border: 1px solid red;
    text-align: center;
} */
.salom{
    color: blue;
}
.IT{
    background-color: black;
    color: white;
    font-size: 24px;
}
.Oquv{
    background-color: aqua;
    color: red;
    font-size: 24px;
    border-radius: 20px;
}
.filial{
    background-color: red;
    color: white;
    border-radius: 20px;
    font-size: 36px;
}
.son{
    background-color: yellow;
    color: black;
    border-radius: 20px;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Yunu{
    background-color:black;
    color: white;
    border-radius: 5px;
}
.Tinch{
    background-color: red;
    color: white;
    border-radius: 5px;
}
.Qut{
    background-color: green;
    color: white;
    border-radius: 5px;
}
.Ser{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
}
.Xalq{
    background-color: rgb(63, 124, 198);
    color: white ;
    border-radius: 5px;
} 
.Asoschi{
    color:aquamarine;
    font-size: 13px;
}  
.CEO{
    background-color: blue;
    color: white;
    font-size: 13px;
} 
.Atham{
    background-color: darkorange;
    color: white;
    font-size: 24px;
}
.div1{
    background-color: black;
    height: 24px;
}
img{
    width: 300px;
    height: 300px;
}
/* button{
    background-color: red;
    color: white;
    font-size: 20px;
    
} */

